#parent-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


.move-img{
    height: 120px;
    width: 120px;
}


.move-img:hover{
    cursor: pointer;
}

.move-btn{
    border-radius: 50%;
    align-items: center;
    height: 160px;
    width: 160px;
}